html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.txt {
    border-radius: 0;
    width: 100%;
    border-radius: 30px;
    height: 54px;
}
.bt {
    width: 200px;
    height: 80px;
    margin: 20px;
    background-color: #dcdcdd;
}
.rtxt {
    width: 20px;
    padding-left: 605px;
}
.red{
    color:red;
}